body {
  background-color: #1a191e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  border-bottom: solid 0.1rem rgb(231, 228, 228);
  max-width: 100%;
}

.nav__content {
  display: flex;
  margin: 0 3rem;
}

.nav__item__contener {
  display: flex;
}

.nav__title {
  color: rgb(233, 230, 230);
}

.nav__item {
  list-style: none;
  background-color: #1a191e;
  color: rgb(233, 228, 228);
  border: solid 0.1rem rgb(235, 232, 232);
  width: 10rem;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 1.5rem;
  border-radius: 4rem;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.nav__item:hover {
  border: none;
}

.nav__active {
  background-color: rgb(87, 80, 41);
}

.nav__input {
  border: none;
  outline: none;
  border-radius: 3rem;
  width: 13rem;
  height: 2rem;
  text-align: center;
  margin-top: 1.7rem;
  margin-left: 4rem;
  font-size: 1.3rem;
}

.container__films__premiere,
.container__films__top,
.container__films__anti__top,
.container__films__new__relised,
.container__films__favorite,
.container__search__results {
  max-width: 120rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4rem;
}
.film__card {
  position: relative;
  width: 30rem;
  height: 40rem;
  overflow: hidden;
  background-color: #1a191e;
}

.film__card-img {
  object-fit: cover;
  margin-left: 3rem;
  margin-top: 1.5rem;
  max-width: 20rem;
}
.film__card-rating {
  position: absolute;
  top: 2rem;
  left: 4rem;
  z-index: 1;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(47, 45, 45, 03);
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: rgb(184, 158, 54) 0.01rem solid;
}

.film__cardd-add__favorite {
  background-color: rgb(242, 237, 237);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 7rem;
  z-index: 1;
  cursor: pointer;
  border: none;
  height: 3rem;
  width: 3rem;
}

.film__cardd-add__favorite:hover {
  background-color: gray;
}
.favorite__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 0.3rem;
}
.film__card-title {
  color: #fff;
  font-size: 1.5rem;
  line-height: 0.1rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.film__card-genres {
  color: gold;
  font-size: 1.3rem;
  margin-left: 3rem;
  line-height: 0.4rem;
}

.films__premieres-p,
.films__top-p,
.films__top-anti-p,
.films__releases-p,
.films__favorites-p,
.films__search-p {
  font-size: 2rem;
  color: rgb(217, 216, 216);
  margin: 1rem 38%;
  max-width: 120rem;
  width: 100%;
}
